Source: xul-ext-xclear
Section: web
Priority: optional
Maintainer: Christopher Huhn, GSI <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 8.0.0), mozilla-devscripts (>= 0.32~)
Standards-Version: 3.9.4
Homepage: https://addons.mozilla.org/en-us/seamonkey/addon/xclear/
#Vcs-Git: git://git.debian.org/collab-maint/xul-ext-xclear.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/xul-ext-xclear.git;a=summary

Package: xul-ext-xclear
Architecture: all
Depends: ${misc:Depends}, ${xpi:Depends}
Recommends: ${xpi:Recommends}
Breaks: ${xpi:Breaks}
Provides: ${xpi:Provides}
Enhances: ${xpi:Enhances}
Description: Safari-like icons in the URL, search and find fields to clear their contents
 This add-on places an X-icon at the end of the url, search and quickfind field
 to clear these fields. This is mostly usefull for X-windows users, which don't 
 want their clipboards to be erased when marking the text in the field to delete
 it.
