Source: xclear
Section: web
Priority: optional
Maintainer: Christopher Huhn, GSI <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 8.0.0), mozilla-devscripts (>= 0.32~)
Standards-Version: 3.9.8
Homepage: https://addons.mozilla.org/en-us/seamonkey/addon/xclear/
#Vcs-Git: git://git.debian.org/collab-maint/xul-ext-xclear.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/xul-ext-xclear.git;a=summary

Package: xul-ext-xclear
Architecture: all
Depends: ${misc:Depends}, ${xpi:Depends}
Recommends: ${xpi:Recommends}
Breaks: ${xpi:Breaks}
Provides: ${xpi:Provides}
Enhances: ${xpi:Enhances}
Description: 'clear' icons Iceweasel's URL, search and find input fields
 This add-on places an X-icon at the end of the URL, search and quickfind fields
 to clear the contents of these fields.
 .
 This is useful for X-windows users to be able to middle-click paste into these 
 fields without erasing their current clipboard contents when marking the text 
 in the field for deletion.
